@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Poppins&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

@font-face {
  font-family: housttleySignature;
  src: url("./HousttelySignature.ttf");
  font-display: swap;
}

.title-timer {
  font-family: housttleySignature;
}

.container-event {
  background-image: url("../images/backgroundEvent.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container-contact-us {
  background-image: url("../images/backgroundContactUs.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.orange-text-container {
  background-image: url("../images/orange_line_event.png");
  background-size: cover;
  background-position: center;
}

.pink-text-container {
  background-image: url("../images/pink_line_event.png");
  background-size: cover;
  background-position: center;
}

.green-text-container {
  background-image: url("../images/green_line_event.png");
  background-size: cover;
  background-position: center;
}

.container-desc-jnc {
  background-image: url("../images/bacgroundDescJnc.png");
  background-size: cover;
  background-position: center;
}

.container-theme-slide1-jnc {
  background-image: url("../images/backgroundThemeSlide1Jnc.webp");
  background-size: cover;
  background-position: center;
}

.container-theme-slide2-jnc {
  background-image: url("../images/backgroundThemeSlide2Jnc.webp");
  background-size: cover;
  background-position: center;
}

.container-desc-nao {
  background-image: url("../images/bacgroundDescNao.png");
  background-size: cover;
  background-position: center;
}

.container-event-nao {
  background-image: url("../images/backgroundEventNao.webp");
  background-size: cover;
  background-position: bottom;
}

.container-submission-jnc {
  background-image: url("../images/backgroundSubmissionJnc.webp");
  background-size: cover;
  background-position: top;
}

.title-effect-nao {
  text-shadow: 0px 0px 15px #d61656;
}

.title-effect-atalk {
  text-shadow: 0px 0px 5px #f37121;
}

.icon-white-filter {
  filter: brightness(50);
}

.shadow-effect-nao {
  -webkit-box-shadow: 10px 10px 21px -8px rgba(0, 0, 0, 1);
  -moz-box-shadow: 10px 10px 21px -8px rgba(0, 0, 0, 1);
  box-shadow: 10px 10px 21px -8px rgba(0, 0, 0, 1),
    inset 5px 5px 5px 0px rgba(255, 255, 255, 0.2);
}

.text-theme-jnc {
  text-shadow: 0px 5px 5px #000;
}

.text-shadow-orange {
  text-shadow: 3px 2px 0px #f37121;
}

.text-shadow-teal {
  text-shadow: 4px 4px 0px #3d50a0;
}

.bg-palette-pink {
  background: #d61656;
}

.text-palette-pink {
  color: #d61656;
}

.text-palette-blue {
  color: #111d5e;
}

.text-palette-dusty {
  color: #f9538b;
}

.bg-palette-dusty {
  background: #f9538b;
}

.container-desc-atalk {
  background-image: url("../images/backgroundDescAtalk.png");
  background-size: cover;
  background-position: center;
}

.container-theme-atalk {
  background-image: url("../images/backgroundThemeAtalk.webp");
  background-size: cover;
  background-position: center;
}

.container-register-atalk {
  background-image: url("../images/backgroundRegisterAtalk.webp");
  background-size: cover;
  background-position: center;
}

.bg-palette-teal {
  background-color: #3d50a0;
}

.bg-palette-blue {
  background-color: #111d5e;
}

.bg-palette-orange {
  background-color: #f37121;
}

.font-orange {
  color: #f37121;
}

.font-yellow-atalk {
  color: #f9bc6b;
}

.timer-number {
  font-size: 8rem;
  line-height: 8rem;
}

.atalk-speaker-border {
  border-bottom: dashed 4px #3d50a0;
}

.atalk-webinar-border {
  border-right: dotted 4px #3d50a0;
}

.bg-timer-red {
  background: url("../images/1lingkaranMerah.png");
  background-size: cover;
  background-position: center;
}

.bg-timer-orange {
  background: url("../images/2lingkaranOrange.png");
  background-size: cover;
  background-position: center;
}

.bg-timer-yellow {
  background: url("../images/3lingkaranKuning.png");
  background-size: cover;
  background-position: center;
}

.bg-timer-grey {
  background: url("../images/4lingkaranGrey.png");
  background-size: cover;
  background-position: center;
}

.bg-header-home {
  background: url("../images/bg.png");
  background-size: cover;
  background-position: center;
}

.bg-timer {
  background: url("../images/background_timer.png");
  background-size: cover;
  background-position: center;
}

.bg-slide-atalk {
  background: url("../images/background_slide_atalk.webp");
  background-size: cover;
  background-position: center;
}

.header-horizontal {
  border: 2px solid #fff;
  width: 9rem;
}

.poppins {
  font-family: "Poppins", sans-serif;
}
/* TImelineNao */
.timeline {
  list-style-type: none;
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.li {
  transition: all 200ms ease-in;
}

.timestamp {
  margin-bottom: 20px;
  padding: 0px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 100;
}

.status {
  padding: 0px 20px;
  /* display: flex; */
  justify-content: center;
  border-top: 2px solid #d6dce0;
  position: relative;
  transition: all 200ms ease-in;
}

.status h4 {
  font-weight: 600;
}
.status:before {
  content: "";
  width: 25px;
  height: 25px;
  background-color: white;
  border-radius: 25px;
  border: 1px solid #ddd;
  position: absolute;
  top: -15px;
  left: 42%;
  transition: all 200ms ease-in;
}

.li.complete .status {
  border-top: 4px solid #f9538b;
}
.li.complete .status:before {
  background-color: #f9538b;
  border: none;
  transition: all 200ms ease-in;
}
.li.complete .status h4 {
  color: #f9538b;
}

@media (min-device-width: 320px) and (max-device-width: 700px) {
  .timeline {
    list-style-type: none;
    display: block;
  }

  .li {
    transition: all 200ms ease-in;
    display: flex;
    width: inherit;
  }

  .timestamp {
    width: 100px;
  }

  .status:before {
    left: -8%;
    top: 30%;
    transition: all 200ms ease-in;
  }

  .atalk-webinar-border {
    border-top: dotted 4px #3d50a0;
  }
}
