@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}

@font-face {
  font-family: housttleySignature;
  src: url("./HousttelySignature.ttf");
}

.title-timer {
  font-family: housttleySignature;
}

.container-event {
  background-image: url("../images/bacground_event.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.orange-text-container {
  background-image: url("../images/orange_line_event.png");
  background-size: cover;
  background-position: center;
}

.pink-text-container {
  background-image: url("../images/pink_line_event.png");
  background-size: cover;
  background-position: center;
}

.green-text-container {
  background-image: url("../images/green_line_event.png");
  background-size: cover;
  background-position: center;
}

.container-desc-jnc {
  background-image: url("../images/bacgroundDescJnc.png");
  background-size: cover;
  background-position: center;
}

.container-desc-nao {
  background-image: url("../images/bacgroundDescNao.png");
  background-size: cover;
  background-position: center;
}

.bg-palette-teal {
  background-color: #3d50a0;
}

.bg-palette-blue {
  background-color: #111d5e;
}

.timer-number {
  font-size: 8rem;
  line-height: 8rem;
}

.bg-timer-red {
  background: url("../images/1lingkaranMerah.png");
  background-size: cover;
  background-position: center;
}

.bg-timer-orange {
  background: url("../images/2lingkaranOrange.png");
  background-size: cover;
  background-position: center;
}

.bg-timer-yellow {
  background: url("../images/3lingkaranKuning.png");
  background-size: cover;
  background-position: center;
}

.bg-timer-grey {
  background: url("../images/4lingkaranGrey.png");
  background-size: cover;
  background-position: center;
}

.bg-header-home {
  background: url("../images/bg.png");
  background-size: cover;
  background-position: center;
}

.bg-timer {
  background: url("../images/background_timer.png");
  background-size: cover;
  background-position: center;
}

.header-horizontal {
	border: 2px solid #fff;
	width: 9rem;
}

.poppins {
	font-family: 'Poppins', sans-serif;
}