@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&family=Poppins&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}

@font-face {
  font-family: housttleySignature;
  src: url("./HousttelySignature.ttf");
}

.title-timer {
  font-family: housttleySignature;
}

.container-event {
  background-image: url("../images/bacground_event.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.orange-text-container {
  background-image: url("../images/orange_line_event.png");
  background-size: cover;
  background-position: center;
}

.pink-text-container {
  background-image: url("../images/pink_line_event.png");
  background-size: cover;
  background-position: center;
}

.green-text-container {
  background-image: url("../images/green_line_event.png");
  background-size: cover;
  background-position: center;
}

.container-desc-jnc {
  background-image: url("../images/bacgroundDescJnc.png");
  background-size: cover;
  background-position: center;
}

.container-desc-nao {
  background-image: url("../images/bacgroundDescNao.png");
  background-size: cover;
  background-position: center;
}

.container-event-nao {
  background-image: url("../images/bacgroundEventNao.png");
  background-size: cover;
  background-position: bottom;
}

.title-effect-nao {
  text-shadow: 0px 0px 15px #d61656;
}

.shadow-effect-nao {
  -webkit-box-shadow: 10px 10px 21px -8px rgba(0,0,0,1);
  -moz-box-shadow: 10px 10px 21px -8px rgba(0,0,0,1);
  box-shadow: 10px 10px 21px -8px rgba(0,0,0,1), inset 5px 5px 5px 0px rgba(255,255,255,0.2);

}

.bg-palette-pink {
  background: #d61656;
}

.text-palette-pink {
  color: #d61656;
}

.text-palette-dusty {
  color: #f9538b;
}

.bg-palette-dusty {
  background: #f9538b;
}

.container-desc-atalk {
  background-image: url("../images/backgroundDescAtalk.png");
  background-size: cover;
  background-position: center;
}

.bg-palette-teal {
  background-color: #3d50a0;
}

.bg-palette-blue {
  background-color: #111d5e;
}

.bg-palette-orange {
  background-color: #f37121;
}

.timer-number {
  font-size: 8rem;
  line-height: 8rem;
}

.bg-timer-red {
  background: url("../images/1lingkaranMerah.png");
  background-size: cover;
  background-position: center;
}

.bg-timer-orange {
  background: url("../images/2lingkaranOrange.png");
  background-size: cover;
  background-position: center;
}

.bg-timer-yellow {
  background: url("../images/3lingkaranKuning.png");
  background-size: cover;
  background-position: center;
}

.bg-timer-grey {
  background: url("../images/4lingkaranGrey.png");
  background-size: cover;
  background-position: center;
}

.bg-header-home {
  background: url("../images/bg.png");
  background-size: cover;
  background-position: center;
}

.bg-timer {
  background: url("../images/background_timer.png");
  background-size: cover;
  background-position: center;
}

.header-horizontal {
	border: 2px solid #fff;
	width: 9rem;
}

.poppins {
	font-family: 'Poppins', sans-serif;
}
/* TImelineNao */
.timeline {
  list-style-type: none;
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.li {
  transition: all 200ms ease-in;
}

.timestamp {
  margin-bottom: 20px;
  padding: 0px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 100;
}

.status {
  padding: 0px 20px;
  /* display: flex; */
  justify-content: center;
  border-top: 2px solid #D6DCE0;
  position: relative;
  transition: all 200ms ease-in;
}

.status h4 {
  font-weight: 600;
}
.status:before {
  content: "";
  width: 25px;
  height: 25px;
  background-color: white;
  border-radius: 25px;
  border: 1px solid #ddd;
  position: absolute;
  top: -15px;
  left: 42%;
  transition: all 200ms ease-in;
}

.li.complete .status {
  border-top: 4px solid #f9538b;
}
.li.complete .status:before {
  background-color: #f9538b;
  border: none;
  transition: all 200ms ease-in;
}
.li.complete .status h4 {
  color: #f9538b;
}

@media (min-device-width: 320px) and (max-device-width: 700px) {
  .timeline {
    list-style-type: none;
    display: block;
  }

  .li {
    transition: all 200ms ease-in;
    display: flex;
    width: inherit;
  }

  .timestamp {
    width: 100px;
  }

  .status:before {
    left: -8%;
    top: 30%;
    transition: all 200ms ease-in;
  }
}